<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>You casted your Vote Successfully</title>
    <style>
        body {
            background-color: #ffdab9;
        }

        div {
            text-align: center;
            margin-top: 20%;
        }

        h2 {
            color: grey;
        }
    </style>
</head>
<body>
    <div>
        <h2>You have been logged out!</h2>
        <p>Election Not Active. Try after Election is Started</p>
    </div>
</body>
</html>
